
@{
    ViewBag.Title = "Graph";
}

<div class="animate-switch-container" ng-switch on="isLoading">
    <div class="animate-switch" ng-switch-when="true">
        <dir ng-show="isLoading"><img src="~/Content/Images/ripple.gif"/> Loading ...</dir>
    </div>
    <div class="animate-switch" ng-switch-when="false">
        <div class="alert alert-info">
            <strong>Info! </strong>Please select two nodes to find path between them (only in that case the button will be active). Select second node by longer left mouse click. 
        </div>
        <button class="btn btn-primary find-btn" ng-click="findPath()" ng-disabled="!isFindPossible">FIND THE SHORTEST PATH</button>
        <div id="graph" vis-graph data="graph.data" options="graph.options" event="select" callback="selectNode(params)" path="bestPath"></div>
    </div>
</div>